 
 @import url('https://fonts.googleapis.com/css?family=Muli:700&display=swap');


 
.container-fluid  {
    margin:0;
    padding: 0;
}

.row {
    flex-wrap: nowrap;
}

@media (max-width: 576px) { 

    .nav-item  {
        display: flex;
        justify-content: center;
    }

    .custom-select {
        margin: auto;
    }
    
    .row{
        display: flex;
        flex-direction: column;
    }
    .row-thumb {
       display: none;
    
    }
    .col-thumb {
        width: 100% !important;
        margin-left: 0;

    }

    .container-fluid  {
        margin:0;
        padding: 0;
        /* width: 123%; */
    }
    .container-form--contact {
        width: 99%;
    }
    .img-fluid-noneWidth{
        max-width: 200%;
        height: auto;
    }
    .col-thumb-img {
        padding-left: 25%;
    }
    .row-footer {
        padding-top: 0em;
        flex-direction: column;
    }
    .col-footer {
        display: flex;
        margin-top: 1.5rem;
    }
}


.no-gutters {
    margin-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.col {
    padding-right: 0;
    padding-left: 0;
}


.custom-select {
    width: 7%;
    margin: 0% 11%;
}

.img-thumbnail {
    /* padding: 0.25rem 13.5rem; */
    background-color: transparent;
    border: none;
}

.img-footer {
    
   padding: 0.25rem 0.5rem;
   /* margin: 0 0; */
    
}

.col-footer {
    
}

.btn-footer {
    /* padding: 1.5rem 8rem; */
}

.col-thumb {
    width: 211px;
    height: 211px;
    margin-top: 3%;
    padding-left: 1%;
    margin-left: 2%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}

.col-thumb:nth-child(odd){
    background-color: #e6e6e6;
}
.col-thumb:nth-child(even){
    background-color:#f6f6f6;
}
.col-thumb img {
    padding-left: 10%;
}

.container-forms {
    background-color: #6e6ecf;
}

.container-form--contact {
    
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 5%;
   
}
.col-contact {
    font-family: 'Muli', sans-serif;
    color:#FFFFFF;
    font-size: 2rem;
}
.row-thumb {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
}

.col-border {
    border-bottom: 4px solid #FFFFFF;
}


.navbar {
    color:#FFFFFF;
}
.navbar-collapse {
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-nav .nav-link {
    /* padding-right: .5rem;
    padding-left: 2.5rem; */
}

.cell {
    width: 211px;
    height: 211px;
}

.btn-primary {
    margin: 0;
    border-color: #ffffff;
}
.btn-block-footer{
    display: inline-block;
    width: 50%;
    margin: auto;
}
.btn-message {
    background-color: transparent;
}
.container-break {
    background-color: #FFFFFF;
    height: 20px;
}

.footer {
    background-color: #f0f0f0;
    height: 20rem;
}

.row-footer {
    padding-top: 5em;
    display: flex;
    align-items: center;
    
}

.row-fieldset {
    margin-top: -16%;
    padding-left: 19px;
    margin-bottom: 10%;
    
}

.form-check, .row-fieldset {
    color: #FFFFFF;
}

.footer-title {
    margin: auto;
    text-align: justify;
}